{#
/**
 * Craftpilot plugin for Craft CMS
 *
 * Craftpilot_ServerFieldType HTML
 *
 * @author    Capsule DX
 * @copyright Copyright (c) 2016 Capsule DX
 * @link      https://capsuledx.com
 * @package   Craftpilot
 * @since     0.5
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    id: id ~ 'someField',
    class: 'nicetext',
    name: name ~ '[someField]',
    value: values.someField,
    errors: values.getErrors('someField'),
    required: false,
}) }}
